<!DOCTYPE html>
{% load poll_extras %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://uicdn.toast.com/calendar/latest/toastui-calendar.min.css" />
</head>
<body>

<div class="container-fluid pt-3">
<form method="post">

        <table>
            <div class="form-row">

                <div class="form-group col-12 col-md-1 mb-0">
                    <h5>N</h5>
                </div>
                <div class="form-group col-12 col-md-3 mb-0">
                    <h5>Collection</h5>
                </div>
                <div class="form-group col-12 col-md-3  mb-0">
                    <h5>Task name</h5>
                </div>
                <div class="form-group col-12 col-md-1  mb-0">
                    <h5>Difficulty</h5>
                </div>
                <div class="form-group col-12 col-md-1  mb-0">
                    <h5>Days</h5>
                </div>
            </div>
            {{ formset.management_form }}
            {% for form in formset %}


            <div id="task-{{form.task_name.value}}" class="form-row {% if areNew|index:forloop.counter0 %} alert alert-success{%else%} alert alert-light {%endif%}">

                <div class="form-group col-12 col-md-1 mb-0">
                    <input type="text" class="form-control" readonly value="#{{forloop.counter}}">
                </div>
                <div class="form-group col-12 col-md-3 mb-0">
                    {{form.collection}}
                </div>
                <div class="form-group col-12 col-md-3  mb-0">
                    {{form.task_name}}
                </div>
                <div class="form-group col-12 col-md-1  mb-0">
                    {{form.cost}}
                </div>
                <div class="form-group col-12 col-md-1  mb-0">
                    {{form.days}}
                </div>
                <div class="form-group col-12 col-md-1  mb-0">
                    {% autoescape on %}
                    <button
                            data-toggle="modal" data-target="#exampleModal"
                            onclick="$(`#modal-oz`).text(`{{form.descriptionT.value}}`)"
                            type="button" class="btn btn-{% if form.descriptionT.value == '' %}primary {%else%}warning {%endif%}"
                            {% if form.descriptionT.value == '' %}
                                disabled
                            {%endif%}
                    >О.З</button>
                    {% endautoescape %}
                    {% autoescape on %}
                    <button onclick="alert(`{{form.description.value}}`)" type="button" class="btn btn-primary">О.К</button>
                    {% endautoescape %}
                    <button onclick="document.getElementById(`task-{{form.task_name.value}}`).remove()" type="button" class="btn btn-danger">-</button>
                </div>
            </div>
            <hr>

            {% endfor %}
        </table>
        <button type="submit" class="btn btn-primary">SEND</button>
    </form>

      <header class="header">
        <nav class="navbar">
          <button class="button is-rounded today">Today</button>
          <button class="btn button is-rounded prev" onclick="moveToNextOrPrevRange(-1)">
            Prev
          </button>
          <button class="btn button is-rounded next" onclick="moveToNextOrPrevRange(1)">
            Next
          </button>
          <span class="navbar--range"></span>
        </nav>
      </header>
      <main id="app" style="height:800px"></main>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Описание задачи</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span id="modal-oz"></span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://uicdn.toast.com/calendar/latest/toastui-calendar.min.js"></script>

<script>

    $(window).on('load', function(){

            var Calendar = window.tui.Calendar;
      window.cal = new Calendar('#app', {
        defaultView: 'week',
        calendars: window.tui.Calendar.MOCK_CALENDARS,
        week: {
          taskView: true,
        },
      });

      window.cal.createEvents(
      JSON.parse(`{{calendar|safe}}`)

      );


    })

    function moveToNextOrPrevRange(offset) {
  if (offset === -1) {
    window.cal.prev();
  } else if (offset === 1) {
   window.cal.next();
  }
}

</script>

</body>
</html>